@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span id="span1">Budget</span> <span id="span2">Management</span></h1>
    <p> Budget management website designed to help you track and manage your finances with ease.<br/> Whether you are a student, a working professional, or a small business owner.<br />
        You can add your expense categories and then add the other details of that category you have added like name, date and amount.
        .</p>
</div>
