html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#span1:hover {
    background-color: black;
    color: white;
    border: double;
    border-radius: 25px;
}
.nav-item:hover {
    background-color: orange;
    color: black;
    border-radius:25px;
}
#span2:hover {
    background-color: black;
    color: white;
    border: double;
    border-radius: 25px;
}